$rk-primary: #ffffff;
$rk-secondary: #f7a611;
$rk-highlight: #f7d511;

$rk-link: #12adeb;

$rk-sidebar-bg: #474540;
$rk-accordion-active: #000000;

$rk-spinner-bg-color: #dedede;
$rk-spinner-fg-color: #009DD9;

$rk-star-none: #0f0f0ff5;
$rk-star-dark: #696969f5;
$rk-star-bright: #ffcc00f5;