header {
    position: sticky;
    top: 0;
    $logo-size: 30px;

    .navbar-brand img {
        display: inline-block;
        width: $logo-size;
        height: $logo-size;
        margin-right: 10px;
        vertical-align: top;
    }
}